<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.murraystate.androidcamilydashboard">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.activity_login"
            android:label="Camily">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity_locator_contact" />
        <activity android:name=".activity.SubActivityKitchenGrocery" />
        <activity android:name=".activity.TaskRingingActivity"></activity>
        <activity android:name=".Useless.ToDo.EditFieldClass" />
        <activity android:name=".MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.activity_familylocator"
            android:theme="@style/ThemeFamilyLocator" />
        <activity
            android:name=".activity.activity_kitchen"
            android:theme="@style/ThemeKitchen" />
        <activity
            android:name=".activity.SubActivityKitchenCalories"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".activity.SubActivityKitchenCaloriesEdit"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".activity.SubActivityFamilyRecipes"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".activity.SubActivityFamilyRecipesView"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".activity.SubActivityFamilyRecipesEdit"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".activity.SubActivityFavoriteRestaurant"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".Useless.ToDo.Activity_ToDoList"
            android:theme="@style/ThemeToDoList" />
        <activity
            android:name=".Useless.ToDo.EditMessageClass"
            android:theme="@style/ThemeToDoList" />

        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.TaskManagementActivity" />
        <activity android:name=".activity.AddTaskActivity" />
        <activity android:name=".activity.EditTaskActivity" />

        <receiver android:name=".service.TaskAlarmReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="edu.murraystate.androidcamilydashboard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>